 {% extends 'admin/header.html' %}
  {% block menubar %}
   {% include "admin/menu.html" %} 
  {% endblock %} 
 {% block content %}
 <div class="app-title">
        <div>
          <h1><i class="fa fa-dashboard"></i> Sliders </h1>
           
        </div>
         <p><a class="btn btn-primary icon-btn" data-toggle="modal" data-target="#exampleModal" href="javascript:void(0)"><i class="fa fa-plus"></i>New</a></p>
      </div>
       <!-------------------------------->
	   
	          <div class="row">
        <div class="col-md-12">
          <div class="tile">
            <div class="tile-body">
              <div class="table-responsive">

                <table class="table table-hover table-bordered" id="sampleTable">
                  <thead>
                    <tr>
                      <th class="text-center">Status</th>
                      <th class="text-center">Title</th>
                      <th class="text-center">Image</th>                      
                      
                      <th class="text-center">Action</th>
					   
                    </tr>
                  </thead>
                  <tbody>  {% for slider in sliders %}

                    <tr>
                      <td class="text-center" ><center> 
                        <input type='checkbox' name='state[]' id='status_{{  slider.id }}' value='{{  slider.id }}' class='toggleswitch'  {%if slider.status == 1 %} checked='checked'  {% endif %} /></center>
</td>
                      <td class="text-center">{{ slider.title }}</td>
                      <td class="text-center"><img style="height: 30px" src="{{ slider.images }}"> </td>
                      
                      
                      
                      <td class="text-center"><div class="btn-group"> 
                        
                        
                        <a class="btn btn-primary" id="slidedel_{{  slider.id }}" href="javascript:void(0)"> <i class="fa fa-lg fa-trash"></i> </a>



                      </div></td>
					   
                    </tr>
                    
                       {% endfor %} 
                    
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Category</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"> &times; </span>
        </button>
      </div>

      <form action="/dashboard/sliders" enctype="multipart/form-data" method="POST">
      <div class="modal-body">
        <!----------------------------------->
        <div class="col-lg-6">
                
   {% csrf_token %}
                  
                  <div class="form-group">
                    <label for="exampleInputEmail1">Title</label>
                    <input class="form-control"  name='slidetitle' autocomplete ="off" id="slidetitle" type="text" aria-describedby="catTitlle" placeholder="Enter Name">

                    <input type="file" name="slider"  > 
                  </div>
                  
                  
                   
                   
               
              </div>
        <!-------------------------------------->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit"    class="btn btn-primary">Add New</button>
      </div> </form>
    </div>
  </div>
</div>

 
  {% endblock %}   }
 
    