 {% extends 'admin/header.html' %}
  {% block menubar %}
   {% include "admin/menu.html" %} 
  {% endblock %} 
 {% block content %}
  <style>
    @media screen and (min-width: 676px) {
        .modal-dialog {
          max-width: 80%; /* New width for default modal */
        }
    }
</style>
 <div class="app-title">
        <div>
          <h1><i class="fa fa-dashboard"></i> All Zipcodes</h1>
           
        </div>
         <p><a class="btn btn-primary icon-btn" data-toggle="modal" data-target="#exampleModal" href="javascript:void(0)"><i class="fa fa-plus"></i>New</a></p>
      </div>
       <!-------------------------------->
	   
	          <div class="row">
        <div class="col-md-12">
          <div class="tile">
            <div class="tile-body">
              <div class="table-responsive">

                <table class="table table-hover table-bordered" id="sampleTable">
                  <thead>
                    <tr>
                      <th class="text-center">id</th>
                      <th class="text-center">City</th>
                       <th class="text-center">Zipcode</th>
                       <th class="text-center">Shipping Price</th>                         
                      
                      <th class="text-center">Action</th>
					   
                    </tr>
                  </thead>
                  <tbody>  {% for zip in zipcodes %}
                    <tr>
                    
                      <td class="text-center">{{ zip.id }} </td>
                        <td class="text-center">{{ zip.city }}</td>
                      <td class="text-center">{{ zip.zipcode }}</td>
                      <td class="text-center">{{ zip.shipingPrice }}</td>
                      
                      <td class="text-center"><div class="btn-group"> 
                        
                        <a class="btn btn-primary" id=" " href="/dashboard/deletezicode/?zipid={{ zip.id }}"><i class="fa fa-lg fa-trash"></i></a>
                      </div></td>
					   
                    </tr>
                    
                       {% endfor %} 
                    
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Zipcode </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div> <form action="/dashboard/zipcode"  method="POST" enctype="multipart/form-data">
      <div class="modal-body">
        <!----------------------------------->
        <div class="col-lg-12">
               
   {% csrf_token %}
                  
                  <div class="form-group">
                    <label for="exampleInputEmail1">Zipcode</label>
                    <input class="form-control"  autocomplete ="off" id="" type="text" aria-describedby="zipcode" required  name="zipcode" placeholder="Enter code"/> 
                  </div>

                   <div class="form-group">
                    <label for="city">City</label>
                    <input class="form-control"  autocomplete ="off" id="" type="text" aria-describedby="zipcode" required  name="city" placeholder="Enter city name"/> 
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Shipping Price</label>
                    <input class="form-control"  autocomplete ="off" id="" type="text" aria-describedby="blogimg" required  name="shippingprice" placeholder="Enter Name"> 
                  </div>
                  
                  
                   
                   
               
              </div>
        <!-------------------------------------->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" id=""  class="btn btn-primary">Add New</button>
      </div> </form>
    </div>
  </div>
</div>

{% for p in prodects %}



   {% endfor %}
  {% endblock %}   }
 
    