    {% load static %}
{% load cart_tag %}
<div class="order-box"  >
    <div class="title-box">
                                            <div>Product <span>Total</span></div>
                                        </div>
                                               <ul class="qty">
                                 {% for key,value in  request.session.cart.items %}
                                            <li>{{value.name}} ×  {{value.quantity}} <span>&#8377; {{ value.price|multiply:value.quantity }} </span></li>

                                    {% endfor %}
                                            
                                        </ul>
                                        <ul class="sub-total">
                                            <li>Subtotal <span class="count"> &#8377; {{ subtotal }} </span></li>
                                            <li>Shipping <span class="count"> &#8377; {{   sprice  }}</span></li>
                                            <input type="hidden"  id="shippingstate" value="{{shippingpricestate}}">
                                           
                                        </ul>

                                       


                                        <ul class="total">
                                            <li>Total <span class="count">&#8377; {{totalprice}}</span></li>
                                        </ul>
                                       <ul class="total">
                                            <li></li> 
                                        </ul>

                                         </div>
                                    <div class="payment-box">
                                        <div class="upper-box" id="shipingerror">
                                            {{zipcodestate| safe}}  
                                        </div>
                                        <div class="text-right">
                                            {%if  shippingpricestate %}
                                            <a href="javascript:void(0)"   amount="{{totalPriceInpaisa}}"  id="rzp-button1" class="btn-solid btn">Place Order</a>
                                            {% else %}
                                            <a href="javascript:void(0)" amount="{{totalPriceInpaisa}}"  id="enquiry" class="btn-solid btn">Enquiry </a>
                                            {% endif%}

                                        </div>
                                    </div>